<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <meta charset="utf-8">
  <title>Delta</title>
</head>

<body>
  {% if not delta.error %}
  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">{{ delta.ticker }}</a>
            </div>
        </div>
  </nav>
  <div class="col-md-8 col-md-offset-2">
    <ul class="list-group">
        <li class="list-group-item">Min interval length: {{ delta.min_len }}</li>
        {% for interval in delta.intervals %}
        <li class="list-group-item">{{ interval.0 }} - {{ interval.1 }}</li>
        {% endfor %}
  </div>
  {% else %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">{{ delta.error }}</a>
          </div>
      </div>
    </nav>
  {% endif %}
</body>

</html>