<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <meta charset="utf-8">
  <title>Prices</title>
</head>

<body>
  {% if prices %}
  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">{{ prices.0.ticker.symbol }}</a>
            </div>
            <p class="navbar-text">{{ prices.0.ticker.security_name }}</p>
            <a class="navbar-text" href="{% url 'ticker_insiders' prices.0.ticker.symbol %}">Insider Trades</a>
            <a class="navbar-text" href="{% url 'ticker_analytics' prices.0.ticker.symbol %}">Analytics</a>
        </div>
  </nav>
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Open</th>
          <th scope="col">High</th>
          <th scope="col">Low</th>
          <th scope="col">Close</th>
          <th scope="col">Volume</th>
        </tr>
      </thead>
      <tbody>
        {% for price in prices %}
        <tr>
          <td>{{ price.date }}</td>
          <td>{{ price.open }}</td>
          <td>{{ price.high }}</td>
          <td>{{ price.low }}</td>
          <td>{{ price.close }}</td>
          <td>{{ price.volume }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">No Data</a>
          </div>
      </div>
    </nav>
  {% endif %}
</body>

</html>